
.users-container {
    background-color: #ffffff;
    height: 100vh;
    position: relative;
}

.user-item {
    margin-bottom: 20px;
    position: relative;
}

.user-link {
    text-decoration: none;
    color: inherit;
}

.user-details {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 60%;
}

.user-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
    font-size: 18px;
}

/*.users-icon {*/
/*    margin-left: 10px;*/
/*    font-size: 1.3rem;*/
/*    color: #ffffff;*/
/*}*/

/*.pet-buttons {*/
/*    display: flex;*/
/*    gap: 10px;*/
/*    margin-top: 10px;*/
/*}*/

/*.modify-btn,*/
/*.delete-btn {*/
/*    padding: 10px 20px;*/
/*    font-size: 10px;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*}*/

.modify-btn {
    background-color: #ffffff;
    color: #4CAF50;
}

.delete-btn {
    background-color: #4CAF50;
    color: white;
}

.add-pet-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

