.confirm-button {
  background-color: #35732e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.confirm-button:hover {
  background-color: #42893b;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 53%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

.text3 {
  font-size: 1.5rem !important;
  font-weight: normal;
  color: #000000 !important;
  margin-top: 30px !important;
  text-align: left;
}
